<div class="container">

    <form id="product_form" action="/Controller/MainFunctionalitiesController/SaveProduct.php" method="POST" style="display: table">
        
        <label for="sku">SKU:</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" id="sku" name="SKU" placeholder="Product SKU here...">
            
        <br>
            
        <label for="name">Name:</label>
            &nbsp;&nbsp;&nbsp;
            <input type="text" id="name" name="Name" placeholder="Product name here...">
            
        <br>    
            
        <label for="price">Price($):</label>
            &nbsp;
            <input type="number" step="0.01" id="price" name="Price" placeholder="Product price here...">
         
        <br>
        <br>
        <br>
         
        <label for="productType">Type Switcher:</label>  
            &nbsp;
            <select id="productType" name="Class_Name" onchange="GetTypeSpecificFormElement()">
                <option value="" disabled selected>Type Switcher</option>
                <option value="CompactDiskProduct">DVD</option>
                <option value="FurnitureProduct">Furniture</option>
                <option value="BookProduct">Book</option>
            </select>
        
        <br>
        <br>
        
        <div class="container" id="product-attribute">
            
        </div>
        
    </form>
    
</div>    

</div>