<div class="container">
            
                <hr/>
            
                    <div class="row">
                    
                        <div class="col-sm-8">
                                
                            <h2>Product Add</h2>
                        
                        </div>
                        
                        <div class="d-flex justify-content-end col-sm-4">
                        
                            <button type="button" class="btn btn-primary" onclick="SaveProduct()">Save</button>
                                
                                &nbsp;&nbsp;
                                
                            <button type="button" class="btn btn-primary" onclick="ReturnToMainPage()">Cancel</button>
                            
                                &nbsp;&nbsp;
                                
                        </div>
                    
                    </div>
                
                <hr/>
                
                <br>
                <br>
                
</div>

<div class="container">