<br>

<div class="footer">
    <hr/>
        <div class="container-w75">
            
            <div class="justify-content-center row">
                
                    <div class="p-2">
                        
                            Scandiweb Test Assignment
                        
                    </div>
                
            </div>
        
        </div>
    <hr/>
</div>

