        &nbsp;&nbsp;
        <label for="weight">Weight(KG)</label>
            &nbsp;
            <input type="number" step="0.01" id="weight" name="Weight" placeholder="Please specify weight of product">
            
        <br>
        <div class="p-2">
            
            *Please provide weight of product in KG format
            
        </div>
            