        &nbsp;&nbsp;
        <label for="size">Size(MB)</label>
            &nbsp;
            <input type="number" step="0.01" id="size" name="Size" placeholder="Please specify capacity/size of product">
            
        <br>
        <div class="p-2">
            
            *Please provide capacity/size of product in "MB" format
            
        </div>
            