        &nbsp;&nbsp;
        <label for="height">Height(CM)</label>
            &nbsp;
            <input type="number" step="0.01" id="height" name="Height" placeholder="Please specify height of product">
            
        <br>
        
        &nbsp;&nbsp;
        <label for="width">Width(CM)</label>
            &nbsp;&nbsp;
            <input type="number" step="0.01" id="width" name="Width" placeholder="Please specify width of product">
            
        <br>
        
        &nbsp;&nbsp;
        <label for="length">Length(CM)</label>
            &nbsp;
            <input type="number" step="0.01" id="length" name="Length" placeholder="Please specify length of product">
            
        <br>
        <br>
        <div class="p-2">
            
            *Please provide dimensions of product in "HxWxl" format
            
        </div>
            