<div class="container">
            
                <hr/>
            
                    <div class="row">
                    
                        <div class="col-sm-8">
                                
                            <h2>Product List</h2>
                        
                        </div>
                        
                        <div class="d-flex justify-content-end col-sm-4">
                        
                            <button type="button" class="btn btn-primary" onclick="GoToAddProductPage()">ADD</button>
                                
                                &nbsp;&nbsp;
                                
                            <button type="button" class="btn btn-primary" id="delete-product-btn" onclick="DeleteSelectedProducts()">MASS DELETE</button>
                            
                                &nbsp;&nbsp;
                                
                        </div>
                    
                    </div>
                
                <hr/>
                
</div>


